In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv("dataset.csv.txt")

In [3]:
df

,ID,Name,Age,Salary,Joining_Date,Department,Email,Phone_Number,Gender,Performance_Score,Manager,Remarks
0,1,John,28,50000.0,2018-01-15,Sales,john@mail.com,+91-9876543210,M,A,Alice,Good
1,2,Alice,NaN,62000.0,2019/03/22,HR,alice(at)mail,123456,Female,Excellent,Bob,?
2,3,Bob,Thirty,1000000.0,NaT,IT,NaN,NaN,Unknown,95,Eve,Needs Improvement
3,4,Grace,27.5,-5000.0,InvalidDate,NaN,[grace@mail.com],99999-99999,F,B,NaN,Poor
4,5,Michael,45,75000.0,2020-12-01,Finance,michael@company.com,+1-555-0123,M,A,Carol,Excellent
5,6,Sarah,-25,48000.0,2022/07/15,Marketing,sarah@mail,9876543210,F,C,David,Average
6,7,David,32,NaN,2017-05-30,Sales,david@company.com,+44-20-7946-0958,M,NaN,Alice,Good performer
7,8,Emma,29,55000.0,Not Available,HR,emma@mail.com,555-1234,Female,B,Frank,NaN
8,9,Robert,999,120000.0,2023-02-28,IT,robert@company.com,+61-2-9876-5432,M,A,Carol,Outstanding
9,10,Lisa,26,42000.0,2021-11-11,Sales,lisa@mail.com,123-456-7890,F,B,Alice,Needs training
10,11,James,31,68000.0,2019-08-25,NaN,james@company.com,+81-3-1234-5678,M,A,NaN,Good team player
11,12,Sophia,24,51000.0,2022-03-15,Marketing,sophia@mail.com,555-9876,F,C,David,New hire
12,13,William,0,59000.0,2018-09-10,Finance,william@company.com,+1-212-555-0199,M,B,Carol,NaN
13,14,Olivia,28,47000.0,2020-01-01,HR,olivia@mail.com,444-3333,Female,C,Frank,Average performance
14,15,Ethan,33,NaN,2016-12-05,IT,ethan@company.com,+49-30-123456,M,A,Eve,Senior developer
15,16,Ava,27,53000.0,2021/06/30,Sales,ava@mail.com,777-8888,F,B,Alice,Promising
16,17,Noah,29,71000.0,2019-04-22,Marketing,noah@company.com,+86-10-59876543,M,A,David,Top performer
17,18,Isabella,26,49000.0,2022-08-14,Finance,isabella@mail.com,222-1111,F,C,Carol,NaN
18,19,Lucas,30,65000.0,2017-11-30,HR,lucas@company.com,+33-1-2345-6789,M,B,Frank,Reliable
19,20,Mia,25,56000.0,2020-05-15,IT,mia@mail.com,666-7777,F,A,Eve,Quick learner
20,21,Benjamin,28,58000.0,Invalid date,Sales,benjamin@company.com,+91-9876543210,M,B,Alice,NaN
21,22,Charlotte,31,72000.0,2018-07-07,Marketing,charlotte@mail.com,888-9999,Female,A,David,Excellent communicator
22,23,Henry,35,85000.0,2015-03-12,Finance,henry@company.com,+1-415-555-0123,M,A,Carol,Manager material
23,24,Amelia,27,52000.0,2021-02-28,HR,amelia@mail.com,333-4444,F,B,Frank,NaN
24,25,Mason,29,63000.0,2019-10-31,IT,mason@company.com,+44-20-7946-0123,M,C,Eve,Needs improvement

In [4]:
df.columns

Index(['ID', 'Name', 'Age', 'Salary', 'Joining_Date', 'Department', 'Email',
       'Phone_Number', 'Gender', 'Performance_Score', 'Manager', 'Remarks'],
      dtype='object')

In [5]:
df.head()

,ID,Name,Age,Salary,Joining_Date,Department,Email,Phone_Number,Gender,Performance_Score,Manager,Remarks
0,1,John,28,50000.0,2018-01-15,Sales,john@mail.com,+91-9876543210,M,A,Alice,Good
1,2,Alice,NaN,62000.0,2019/03/22,HR,alice(at)mail,123456,Female,Excellent,Bob,?
2,3,Bob,Thirty,1000000.0,NaT,IT,NaN,NaN,Unknown,95,Eve,Needs Improvement
3,4,Grace,27.5,-5000.0,InvalidDate,NaN,[grace@mail.com],99999-99999,F,B,NaN,Poor
4,5,Michael,45,75000.0,2020-12-01,Finance,michael@company.com,+1-555-0123,M,A,Carol,Excellent

In [6]:
type(df)

pandas.core.frame.DataFrame

In [7]:
df.shape

(25, 12)

In [8]:
df.isnull().sum()

ID                   0
Name                 0
Age                  1
Salary               2
Joining_Date         0
Department           2
Email                1
Phone_Number         1
Gender               0
Performance_Score    1
Manager              2
Remarks              5
dtype: int64

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25 entries, 0 to 24
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   ID                 25 non-null     int64
 1   Name               25 non-null     object
 2   Age                24 non-null     object
 3   Salary             23 non-null     float64
 4   Joining_Date       25 non-null     object
 5   Department         23 non-null     object
 6   Email              24 non-null     object
 7   Phone_Number       24 non-null     object
 8   Gender             25 non-null     object
 9   Performance_Score  24 non-null     object
 10  Manager            23 non-null     object
 11  Remarks            20 non-null     object
dtypes: float64(1), int64(1), object(10)
memory usage: 2.5+ KB

In [10]:
df.describe()

              ID          Salary
count  25.000000       23.000000
mean   13.000000    99826.086957
std     7.359801   197398.915944
min     1.000000    -5000.000000
25%     7.000000    50500.000000
50%    13.000000    58000.000000
75%    19.000000    69500.000000
max    25.000000  1000000.000000

In [11]:
df[df["Salary"] > 100000]

,ID,Name,Age,Salary,Joining_Date,Department,Email,Phone_Number,Gender,Performance_Score,Manager,Remarks
2,3,Bob,Thirty,1000000.0,NaT,IT,NaN,NaN,Unknown,95,Eve,Needs Improvement
8,9,Robert,999,120000.0,2023-02-28,IT,robert@company.com,+61-2-9876-5432,M,A,Carol,Outstanding

In [12]:
df.duplicated().sum()

np.int64(0)

In [13]:
df.isnull().sum()/df.shape[0]*100

ID                    0.0
Name                  0.0
Age                   4.0
Salary                8.0
Joining_Date          0.0
Department            8.0
Email                 4.0
Phone_Number          4.0
Gender                0.0
Performance_Score     4.0
Manager               8.0
Remarks              20.0
dtype: float64

In [14]:
df["Salary"].fillna(df["Salary"].mean() , inplace=True)

C:\Users\Abhishek\AppData\Local\Temp\ipykernel_6560\2262915029.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["Salary"].fillna(df["Salary"].mean() , inplace=True)

In [15]:
df.replace([np.inf,-np.inf],np.nan,inplace=True)

In [16]:
df

,ID,Name,Age,Salary,Joining_Date,Department,Email,Phone_Number,Gender,Performance_Score,Manager,Remarks
0,1,John,28,50000.000000,2018-01-15,Sales,john@mail.com,+91-9876543210,M,A,Alice,Good
1,2,Alice,NaN,62000.000000,2019/03/22,HR,alice(at)mail,123456,Female,Excellent,Bob,?
2,3,Bob,Thirty,1000000.000000,NaT,IT,NaN,NaN,Unknown,95,Eve,Needs Improvement
3,4,Grace,27.5,-5000.000000,InvalidDate,NaN,[grace@mail.com],99999-99999,F,B,NaN,Poor
4,5,Michael,45,75000.000000,2020-12-01,Finance,michael@company.com,+1-555-0123,M,A,Carol,Excellent
5,6,Sarah,-25,48000.000000,2022/07/15,Marketing,sarah@mail,9876543210,F,C,David,Average
6,7,David,32,99826.086957,2017-05-30,Sales,david@company.com,+44-20-7946-0958,M,NaN,Alice,Good performer
7,8,Emma,29,55000.000000,Not Available,HR,emma@mail.com,555-1234,Female,B,Frank,NaN
8,9,Robert,999,120000.000000,2023-02-28,IT,robert@company.com,+61-2-9876-5432,M,A,Carol,Outstanding
9,10,Lisa,26,42000.000000,2021-11-11,Sales,lisa@mail.com,123-456-7890,F,B,Alice,Needs training
10,11,James,31,68000.000000,2019-08-25,NaN,james@company.com,+81-3-1234-5678,M,A,NaN,Good team player
11,12,Sophia,24,51000.000000,2022-03-15,Marketing,sophia@mail.com,555-9876,F,C,David,New hire
12,13,William,0,59000.000000,2018-09-10,Finance,william@company.com,+1-212-555-0199,M,B,Carol,NaN
13,14,Olivia,28,47000.000000,2020-01-01,HR,olivia@mail.com,444-3333,Female,C,Frank,Average performance
14,15,Ethan,33,99826.086957,2016-12-05,IT,ethan@company.com,+49-30-123456,M,A,Eve,Senior developer
15,16,Ava,27,53000.000000,2021/06/30,Sales,ava@mail.com,777-8888,F,B,Alice,Promising
16,17,Noah,29,71000.000000,2019-04-22,Marketing,noah@company.com,+86-10-59876543,M,A,David,Top performer
17,18,Isabella,26,49000.000000,2022-08-14,Finance,isabella@mail.com,222-1111,F,C,Carol,NaN
18,19,Lucas,30,65000.000000,2017-11-30,HR,lucas@company.com,+33-1-2345-6789,M,B,Frank,Reliable
19,20,Mia,25,56000.000000,2020-05-15,IT,mia@mail.com,666-7777,F,A,Eve,Quick learner
20,21,Benjamin,28,58000.000000,Invalid date,Sales,benjamin@company.com,+91-9876543210,M,B,Alice,NaN
21,22,Charlotte,31,72000.000000,2018-07-07,Marketing,charlotte@mail.com,888-9999,Female,A,David,Excellent communicator
22,23,Henry,35,85000.000000,2015-03-12,Finance,henry@company.com,+1-415-555-0123,M,A,Carol,Manager material
23,24,Amelia,27,52000.000000,2021-02-28,HR,amelia@mail.com,333-4444,F,B,Frank,NaN
24,25,Mason,29,63000.000000,2019-10-31,IT,mason@company.com,+44-20-7946-0123,M,C,Eve,Needs improvement

In [17]:
df["Age"]=pd.to_numeric(df["Age"],errors="coerce")

In [18]:
df

,ID,Name,Age,Salary,Joining_Date,Department,Email,Phone_Number,Gender,Performance_Score,Manager,Remarks
0,1,John,28.0,50000.000000,2018-01-15,Sales,john@mail.com,+91-9876543210,M,A,Alice,Good
1,2,Alice,NaN,62000.000000,2019/03/22,HR,alice(at)mail,123456,Female,Excellent,Bob,?
2,3,Bob,NaN,1000000.000000,NaT,IT,NaN,NaN,Unknown,95,Eve,Needs Improvement
3,4,Grace,27.5,-5000.000000,InvalidDate,NaN,[grace@mail.com],99999-99999,F,B,NaN,Poor
4,5,Michael,45.0,75000.000000,2020-12-01,Finance,michael@company.com,+1-555-0123,M,A,Carol,Excellent
5,6,Sarah,-25.0,48000.000000,2022/07/15,Marketing,sarah@mail,9876543210,F,C,David,Average
6,7,David,32.0,99826.086957,2017-05-30,Sales,david@company.com,+44-20-7946-0958,M,NaN,Alice,Good performer
7,8,Emma,29.0,55000.000000,Not Available,HR,emma@mail.com,555-1234,Female,B,Frank,NaN
8,9,Robert,999.0,120000.000000,2023-02-28,IT,robert@company.com,+61-2-9876-5432,M,A,Carol,Outstanding
9,10,Lisa,26.0,42000.000000,2021-11-11,Sales,lisa@mail.com,123-456-7890,F,B,Alice,Needs training
10,11,James,31.0,68000.000000,2019-08-25,NaN,james@company.com,+81-3-1234-5678,M,A,NaN,Good team player
11,12,Sophia,24.0,51000.000000,2022-03-15,Marketing,sophia@mail.com,555-9876,F,C,David,New hire
12,13,William,0.0,59000.000000,2018-09-10,Finance,william@company.com,+1-212-555-0199,M,B,Carol,NaN
13,14,Olivia,28.0,47000.000000,2020-01-01,HR,olivia@mail.com,444-3333,Female,C,Frank,Average performance
14,15,Ethan,33.0,99826.086957,2016-12-05,IT,ethan@company.com,+49-30-123456,M,A,Eve,Senior developer
15,16,Ava,27.0,53000.000000,2021/06/30,Sales,ava@mail.com,777-8888,F,B,Alice,Promising
16,17,Noah,29.0,71000.000000,2019-04-22,Marketing,noah@company.com,+86-10-59876543,M,A,David,Top performer
17,18,Isabella,26.0,49000.000000,2022-08-14,Finance,isabella@mail.com,222-1111,F,C,Carol,NaN
18,19,Lucas,30.0,65000.000000,2017-11-30,HR,lucas@company.com,+33-1-2345-6789,M,B,Frank,Reliable
19,20,Mia,25.0,56000.000000,2020-05-15,IT,mia@mail.com,666-7777,F,A,Eve,Quick learner
20,21,Benjamin,28.0,58000.000000,Invalid date,Sales,benjamin@company.com,+91-9876543210,M,B,Alice,NaN
21,22,Charlotte,31.0,72000.000000,2018-07-07,Marketing,charlotte@mail.com,888-9999,Female,A,David,Excellent communicator
22,23,Henry,35.0,85000.000000,2015-03-12,Finance,henry@company.com,+1-415-555-0123,M,A,Carol,Manager material
23,24,Amelia,27.0,52000.000000,2021-02-28,HR,amelia@mail.com,333-4444,F,B,Frank,NaN
24,25,Mason,29.0,63000.000000,2019-10-31,IT,mason@company.com,+44-20-7946-0123,M,C,Eve,Needs improvement

In [19]:
df["Age"].fillna(df["Age"].mean(),inplace=True)

C:\Users\Abhishek\AppData\Local\Temp\ipykernel_6560\2595122914.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["Age"].fillna(df["Age"].mean(),inplace=True)

In [20]:
df

,ID,Name,Age,Salary,Joining_Date,Department,Email,Phone_Number,Gender,Performance_Score,Manager,Remarks
0,1,John,28.000000,50000.000000,2018-01-15,Sales,john@mail.com,+91-9876543210,M,A,Alice,Good
1,2,Alice,68.021739,62000.000000,2019/03/22,HR,alice(at)mail,123456,Female,Excellent,Bob,?
2,3,Bob,68.021739,1000000.000000,NaT,IT,NaN,NaN,Unknown,95,Eve,Needs Improvement
3,4,Grace,27.500000,-5000.000000,InvalidDate,NaN,[grace@mail.com],99999-99999,F,B,NaN,Poor
4,5,Michael,45.000000,75000.000000,2020-12-01,Finance,michael@company.com,+1-555-0123,M,A,Carol,Excellent
5,6,Sarah,-25.000000,48000.000000,2022/07/15,Marketing,sarah@mail,9876543210,F,C,David,Average
6,7,David,32.000000,99826.086957,2017-05-30,Sales,david@company.com,+44-20-7946-0958,M,NaN,Alice,Good performer
7,8,Emma,29.000000,55000.000000,Not Available,HR,emma@mail.com,555-1234,Female,B,Frank,NaN
8,9,Robert,999.000000,120000.000000,2023-02-28,IT,robert@company.com,+61-2-9876-5432,M,A,Carol,Outstanding
9,10,Lisa,26.000000,42000.000000,2021-11-11,Sales,lisa@mail.com,123-456-7890,F,B,Alice,Needs training
10,11,James,31.000000,68000.000000,2019-08-25,NaN,james@company.com,+81-3-1234-5678,M,A,NaN,Good team player
11,12,Sophia,24.000000,51000.000000,2022-03-15,Marketing,sophia@mail.com,555-9876,F,C,David,New hire
12,13,William,0.000000,59000.000000,2018-09-10,Finance,william@company.com,+1-212-555-0199,M,B,Carol,NaN
13,14,Olivia,28.000000,47000.000000,2020-01-01,HR,olivia@mail.com,444-3333,Female,C,Frank,Average performance
14,15,Ethan,33.000000,99826.086957,2016-12-05,IT,ethan@company.com,+49-30-123456,M,A,Eve,Senior developer
15,16,Ava,27.000000,53000.000000,2021/06/30,Sales,ava@mail.com,777-8888,F,B,Alice,Promising
16,17,Noah,29.000000,71000.000000,2019-04-22,Marketing,noah@company.com,+86-10-59876543,M,A,David,Top performer
17,18,Isabella,26.000000,49000.000000,2022-08-14,Finance,isabella@mail.com,222-1111,F,C,Carol,NaN
18,19,Lucas,30.000000,65000.000000,2017-11-30,HR,lucas@company.com,+33-1-2345-6789,M,B,Frank,Reliable
19,20,Mia,25.000000,56000.000000,2020-05-15,IT,mia@mail.com,666-7777,F,A,Eve,Quick learner
20,21,Benjamin,28.000000,58000.000000,Invalid date,Sales,benjamin@company.com,+91-9876543210,M,B,Alice,NaN
21,22,Charlotte,31.000000,72000.000000,2018-07-07,Marketing,charlotte@mail.com,888-9999,Female,A,David,Excellent communicator
22,23,Henry,35.000000,85000.000000,2015-03-12,Finance,henry@company.com,+1-415-555-0123,M,A,Carol,Manager material
23,24,Amelia,27.000000,52000.000000,2021-02-28,HR,amelia@mail.com,333-4444,F,B,Frank,NaN
24,25,Mason,29.000000,63000.000000,2019-10-31,IT,mason@company.com,+44-20-7946-0123,M,C,Eve,Needs improvement

In [21]:
df["Age"]=df["Age"].astype(int)

In [22]:
df

,ID,Name,Age,Salary,Joining_Date,Department,Email,Phone_Number,Gender,Performance_Score,Manager,Remarks
0,1,John,28,50000.000000,2018-01-15,Sales,john@mail.com,+91-9876543210,M,A,Alice,Good
1,2,Alice,68,62000.000000,2019/03/22,HR,alice(at)mail,123456,Female,Excellent,Bob,?
2,3,Bob,68,1000000.000000,NaT,IT,NaN,NaN,Unknown,95,Eve,Needs Improvement
3,4,Grace,27,-5000.000000,InvalidDate,NaN,[grace@mail.com],99999-99999,F,B,NaN,Poor
4,5,Michael,45,75000.000000,2020-12-01,Finance,michael@company.com,+1-555-0123,M,A,Carol,Excellent
5,6,Sarah,-25,48000.000000,2022/07/15,Marketing,sarah@mail,9876543210,F,C,David,Average
6,7,David,32,99826.086957,2017-05-30,Sales,david@company.com,+44-20-7946-0958,M,NaN,Alice,Good performer
7,8,Emma,29,55000.000000,Not Available,HR,emma@mail.com,555-1234,Female,B,Frank,NaN
8,9,Robert,999,120000.000000,2023-02-28,IT,robert@company.com,+61-2-9876-5432,M,A,Carol,Outstanding
9,10,Lisa,26,42000.000000,2021-11-11,Sales,lisa@mail.com,123-456-7890,F,B,Alice,Needs training
10,11,James,31,68000.000000,2019-08-25,NaN,james@company.com,+81-3-1234-5678,M,A,NaN,Good team player
11,12,Sophia,24,51000.000000,2022-03-15,Marketing,sophia@mail.com,555-9876,F,C,David,New hire
12,13,William,0,59000.000000,2018-09-10,Finance,william@company.com,+1-212-555-0199,M,B,Carol,NaN
13,14,Olivia,28,47000.000000,2020-01-01,HR,olivia@mail.com,444-3333,Female,C,Frank,Average performance
14,15,Ethan,33,99826.086957,2016-12-05,IT,ethan@company.com,+49-30-123456,M,A,Eve,Senior developer
15,16,Ava,27,53000.000000,2021/06/30,Sales,ava@mail.com,777-8888,F,B,Alice,Promising
16,17,Noah,29,71000.000000,2019-04-22,Marketing,noah@company.com,+86-10-59876543,M,A,David,Top performer
17,18,Isabella,26,49000.000000,2022-08-14,Finance,isabella@mail.com,222-1111,F,C,Carol,NaN
18,19,Lucas,30,65000.000000,2017-11-30,HR,lucas@company.com,+33-1-2345-6789,M,B,Frank,Reliable
19,20,Mia,25,56000.000000,2020-05-15,IT,mia@mail.com,666-7777,F,A,Eve,Quick learner
20,21,Benjamin,28,58000.000000,Invalid date,Sales,benjamin@company.com,+91-9876543210,M,B,Alice,NaN
21,22,Charlotte,31,72000.000000,2018-07-07,Marketing,charlotte@mail.com,888-9999,Female,A,David,Excellent communicator
22,23,Henry,35,85000.000000,2015-03-12,Finance,henry@company.com,+1-415-555-0123,M,A,Carol,Manager material
23,24,Amelia,27,52000.000000,2021-02-28,HR,amelia@mail.com,333-4444,F,B,Frank,NaN
24,25,Mason,29,63000.000000,2019-10-31,IT,mason@company.com,+44-20-7946-0123,M,C,Eve,Needs improvement

In [23]:
df["Salary"]=df["Salary"].astype(int)

In [24]:
df

,ID,Name,Age,Salary,Joining_Date,Department,Email,Phone_Number,Gender,Performance_Score,Manager,Remarks
0,1,John,28,50000,2018-01-15,Sales,john@mail.com,+91-9876543210,M,A,Alice,Good
1,2,Alice,68,62000,2019/03/22,HR,alice(at)mail,123456,Female,Excellent,Bob,?
2,3,Bob,68,1000000,NaT,IT,NaN,NaN,Unknown,95,Eve,Needs Improvement
3,4,Grace,27,-5000,InvalidDate,NaN,[grace@mail.com],99999-99999,F,B,NaN,Poor
4,5,Michael,45,75000,2020-12-01,Finance,michael@company.com,+1-555-0123,M,A,Carol,Excellent
5,6,Sarah,-25,48000,2022/07/15,Marketing,sarah@mail,9876543210,F,C,David,Average
6,7,David,32,99826,2017-05-30,Sales,david@company.com,+44-20-7946-0958,M,NaN,Alice,Good performer
7,8,Emma,29,55000,Not Available,HR,emma@mail.com,555-1234,Female,B,Frank,NaN
8,9,Robert,999,120000,2023-02-28,IT,robert@company.com,+61-2-9876-5432,M,A,Carol,Outstanding
9,10,Lisa,26,42000,2021-11-11,Sales,lisa@mail.com,123-456-7890,F,B,Alice,Needs training
10,11,James,31,68000,2019-08-25,NaN,james@company.com,+81-3-1234-5678,M,A,NaN,Good team player
11,12,Sophia,24,51000,2022-03-15,Marketing,sophia@mail.com,555-9876,F,C,David,New hire
12,13,William,0,59000,2018-09-10,Finance,william@company.com,+1-212-555-0199,M,B,Carol,NaN
13,14,Olivia,28,47000,2020-01-01,HR,olivia@mail.com,444-3333,Female,C,Frank,Average performance
14,15,Ethan,33,99826,2016-12-05,IT,ethan@company.com,+49-30-123456,M,A,Eve,Senior developer
15,16,Ava,27,53000,2021/06/30,Sales,ava@mail.com,777-8888,F,B,Alice,Promising
16,17,Noah,29,71000,2019-04-22,Marketing,noah@company.com,+86-10-59876543,M,A,David,Top performer
17,18,Isabella,26,49000,2022-08-14,Finance,isabella@mail.com,222-1111,F,C,Carol,NaN
18,19,Lucas,30,65000,2017-11-30,HR,lucas@company.com,+33-1-2345-6789,M,B,Frank,Reliable
19,20,Mia,25,56000,2020-05-15,IT,mia@mail.com,666-7777,F,A,Eve,Quick learner
20,21,Benjamin,28,58000,Invalid date,Sales,benjamin@company.com,+91-9876543210,M,B,Alice,NaN
21,22,Charlotte,31,72000,2018-07-07,Marketing,charlotte@mail.com,888-9999,Female,A,David,Excellent communicator
22,23,Henry,35,85000,2015-03-12,Finance,henry@company.com,+1-415-555-0123,M,A,Carol,Manager material
23,24,Amelia,27,52000,2021-02-28,HR,amelia@mail.com,333-4444,F,B,Frank,NaN
24,25,Mason,29,63000,2019-10-31,IT,mason@company.com,+44-20-7946-0123,M,C,Eve,Needs improvement

In [25]:
df=df.drop_duplicates(subset=["Name","Age","Salary","Joining_Date","Department","Email","Phone_Number","Gender","Performance_Score","Manager","Remarks"])

In [26]:
df

,ID,Name,Age,Salary,Joining_Date,Department,Email,Phone_Number,Gender,Performance_Score,Manager,Remarks
0,1,John,28,50000,2018-01-15,Sales,john@mail.com,+91-9876543210,M,A,Alice,Good
1,2,Alice,68,62000,2019/03/22,HR,alice(at)mail,123456,Female,Excellent,Bob,?
2,3,Bob,68,1000000,NaT,IT,NaN,NaN,Unknown,95,Eve,Needs Improvement
3,4,Grace,27,-5000,InvalidDate,NaN,[grace@mail.com],99999-99999,F,B,NaN,Poor
4,5,Michael,45,75000,2020-12-01,Finance,michael@company.com,+1-555-0123,M,A,Carol,Excellent
5,6,Sarah,-25,48000,2022/07/15,Marketing,sarah@mail,9876543210,F,C,David,Average
6,7,David,32,99826,2017-05-30,Sales,david@company.com,+44-20-7946-0958,M,NaN,Alice,Good performer
7,8,Emma,29,55000,Not Available,HR,emma@mail.com,555-1234,Female,B,Frank,NaN
8,9,Robert,999,120000,2023-02-28,IT,robert@company.com,+61-2-9876-5432,M,A,Carol,Outstanding
9,10,Lisa,26,42000,2021-11-11,Sales,lisa@mail.com,123-456-7890,F,B,Alice,Needs training
10,11,James,31,68000,2019-08-25,NaN,james@company.com,+81-3-1234-5678,M,A,NaN,Good team player
11,12,Sophia,24,51000,2022-03-15,Marketing,sophia@mail.com,555-9876,F,C,David,New hire
12,13,William,0,59000,2018-09-10,Finance,william@company.com,+1-212-555-0199,M,B,Carol,NaN
13,14,Olivia,28,47000,2020-01-01,HR,olivia@mail.com,444-3333,Female,C,Frank,Average performance
14,15,Ethan,33,99826,2016-12-05,IT,ethan@company.com,+49-30-123456,M,A,Eve,Senior developer
15,16,Ava,27,53000,2021/06/30,Sales,ava@mail.com,777-8888,F,B,Alice,Promising
16,17,Noah,29,71000,2019-04-22,Marketing,noah@company.com,+86-10-59876543,M,A,David,Top performer
17,18,Isabella,26,49000,2022-08-14,Finance,isabella@mail.com,222-1111,F,C,Carol,NaN
18,19,Lucas,30,65000,2017-11-30,HR,lucas@company.com,+33-1-2345-6789,M,B,Frank,Reliable
19,20,Mia,25,56000,2020-05-15,IT,mia@mail.com,666-7777,F,A,Eve,Quick learner
20,21,Benjamin,28,58000,Invalid date,Sales,benjamin@company.com,+91-9876543210,M,B,Alice,NaN
21,22,Charlotte,31,72000,2018-07-07,Marketing,charlotte@mail.com,888-9999,Female,A,David,Excellent communicator
22,23,Henry,35,85000,2015-03-12,Finance,henry@company.com,+1-415-555-0123,M,A,Carol,Manager material
23,24,Amelia,27,52000,2021-02-28,HR,amelia@mail.com,333-4444,F,B,Frank,NaN
24,25,Mason,29,63000,2019-10-31,IT,mason@company.com,+44-20-7946-0123,M,C,Eve,Needs improvement

In [27]:
placeholders =['Not Available','Not available','InvalidDate','Invalid date','?','NaT','[]','NAN']
df.replace(placeholders,np.nan,inplace=True)

In [28]:
df

,ID,Name,Age,Salary,Joining_Date,Department,Email,Phone_Number,Gender,Performance_Score,Manager,Remarks
0,1,John,28,50000,2018-01-15,Sales,john@mail.com,+91-9876543210,M,A,Alice,Good
1,2,Alice,68,62000,2019/03/22,HR,alice(at)mail,123456,Female,Excellent,Bob,NaN
2,3,Bob,68,1000000,NaN,IT,NaN,NaN,Unknown,95,Eve,Needs Improvement
3,4,Grace,27,-5000,NaN,NaN,[grace@mail.com],99999-99999,F,B,NaN,Poor
4,5,Michael,45,75000,2020-12-01,Finance,michael@company.com,+1-555-0123,M,A,Carol,Excellent
5,6,Sarah,-25,48000,2022/07/15,Marketing,sarah@mail,9876543210,F,C,David,Average
6,7,David,32,99826,2017-05-30,Sales,david@company.com,+44-20-7946-0958,M,NaN,Alice,Good performer
7,8,Emma,29,55000,NaN,HR,emma@mail.com,555-1234,Female,B,Frank,NaN
8,9,Robert,999,120000,2023-02-28,IT,robert@company.com,+61-2-9876-5432,M,A,Carol,Outstanding
9,10,Lisa,26,42000,2021-11-11,Sales,lisa@mail.com,123-456-7890,F,B,Alice,Needs training
10,11,James,31,68000,2019-08-25,NaN,james@company.com,+81-3-1234-5678,M,A,NaN,Good team player
11,12,Sophia,24,51000,2022-03-15,Marketing,sophia@mail.com,555-9876,F,C,David,New hire
12,13,William,0,59000,2018-09-10,Finance,william@company.com,+1-212-555-0199,M,B,Carol,NaN
13,14,Olivia,28,47000,2020-01-01,HR,olivia@mail.com,444-3333,Female,C,Frank,Average performance
14,15,Ethan,33,99826,2016-12-05,IT,ethan@company.com,+49-30-123456,M,A,Eve,Senior developer
15,16,Ava,27,53000,2021/06/30,Sales,ava@mail.com,777-8888,F,B,Alice,Promising
16,17,Noah,29,71000,2019-04-22,Marketing,noah@company.com,+86-10-59876543,M,A,David,Top performer
17,18,Isabella,26,49000,2022-08-14,Finance,isabella@mail.com,222-1111,F,C,Carol,NaN
18,19,Lucas,30,65000,2017-11-30,HR,lucas@company.com,+33-1-2345-6789,M,B,Frank,Reliable
19,20,Mia,25,56000,2020-05-15,IT,mia@mail.com,666-7777,F,A,Eve,Quick learner
20,21,Benjamin,28,58000,NaN,Sales,benjamin@company.com,+91-9876543210,M,B,Alice,NaN
21,22,Charlotte,31,72000,2018-07-07,Marketing,charlotte@mail.com,888-9999,Female,A,David,Excellent communicator
22,23,Henry,35,85000,2015-03-12,Finance,henry@company.com,+1-415-555-0123,M,A,Carol,Manager material
23,24,Amelia,27,52000,2021-02-28,HR,amelia@mail.com,333-4444,F,B,Frank,NaN
24,25,Mason,29,63000,2019-10-31,IT,mason@company.com,+44-20-7946-0123,M,C,Eve,Needs improvement

In [29]:
missing_values=df.isnull()
for col in df.columns:
    
    print(missing_values[col].value_counts())
    print(" ")

ID
False    25
Name: count, dtype: int64

Name
False    25
Name: count, dtype: int64

Age
False    25
Name: count, dtype: int64

Salary
False    25
Name: count, dtype: int64

Joining_Date
False    21
True      4
Name: count, dtype: int64

Department
False    23
True      2
Name: count, dtype: int64

Email
False    24
True      1
Name: count, dtype: int64

Phone_Number
False    24
True      1
Name: count, dtype: int64

Gender
False    25
Name: count, dtype: int64

Performance_Score
False    24
True      1
Name: count, dtype: int64

Manager
False    23
True      2
Name: count, dtype: int64

Remarks
False    19
True      6
Name: count, dtype: int64

In [30]:
df.isnull().sum()

ID                   0
Name                 0
Age                  0
Salary               0
Joining_Date         4
Department           2
Email                1
Phone_Number         1
Gender               0
Performance_Score    1
Manager              2
Remarks              6
dtype: int64

In [31]:
df.dropna(subset=['Department'], inplace=True,axis=0)

In [32]:
df

,ID,Name,Age,Salary,Joining_Date,Department,Email,Phone_Number,Gender,Performance_Score,Manager,Remarks
0,1,John,28,50000,2018-01-15,Sales,john@mail.com,+91-9876543210,M,A,Alice,Good
1,2,Alice,68,62000,2019/03/22,HR,alice(at)mail,123456,Female,Excellent,Bob,NaN
2,3,Bob,68,1000000,NaN,IT,NaN,NaN,Unknown,95,Eve,Needs Improvement
4,5,Michael,45,75000,2020-12-01,Finance,michael@company.com,+1-555-0123,M,A,Carol,Excellent
5,6,Sarah,-25,48000,2022/07/15,Marketing,sarah@mail,9876543210,F,C,David,Average
6,7,David,32,99826,2017-05-30,Sales,david@company.com,+44-20-7946-0958,M,NaN,Alice,Good performer
7,8,Emma,29,55000,NaN,HR,emma@mail.com,555-1234,Female,B,Frank,NaN
8,9,Robert,999,120000,2023-02-28,IT,robert@company.com,+61-2-9876-5432,M,A,Carol,Outstanding
9,10,Lisa,26,42000,2021-11-11,Sales,lisa@mail.com,123-456-7890,F,B,Alice,Needs training
11,12,Sophia,24,51000,2022-03-15,Marketing,sophia@mail.com,555-9876,F,C,David,New hire
12,13,William,0,59000,2018-09-10,Finance,william@company.com,+1-212-555-0199,M,B,Carol,NaN
13,14,Olivia,28,47000,2020-01-01,HR,olivia@mail.com,444-3333,Female,C,Frank,Average performance
14,15,Ethan,33,99826,2016-12-05,IT,ethan@company.com,+49-30-123456,M,A,Eve,Senior developer
15,16,Ava,27,53000,2021/06/30,Sales,ava@mail.com,777-8888,F,B,Alice,Promising
16,17,Noah,29,71000,2019-04-22,Marketing,noah@company.com,+86-10-59876543,M,A,David,Top performer
17,18,Isabella,26,49000,2022-08-14,Finance,isabella@mail.com,222-1111,F,C,Carol,NaN
18,19,Lucas,30,65000,2017-11-30,HR,lucas@company.com,+33-1-2345-6789,M,B,Frank,Reliable
19,20,Mia,25,56000,2020-05-15,IT,mia@mail.com,666-7777,F,A,Eve,Quick learner
20,21,Benjamin,28,58000,NaN,Sales,benjamin@company.com,+91-9876543210,M,B,Alice,NaN
21,22,Charlotte,31,72000,2018-07-07,Marketing,charlotte@mail.com,888-9999,Female,A,David,Excellent communicator
22,23,Henry,35,85000,2015-03-12,Finance,henry@company.com,+1-415-555-0123,M,A,Carol,Manager material
23,24,Amelia,27,52000,2021-02-28,HR,amelia@mail.com,333-4444,F,B,Frank,NaN
24,25,Mason,29,63000,2019-10-31,IT,mason@company.com,+44-20-7946-0123,M,C,Eve,Needs improvement

In [33]:
df.reset_index(drop=True,inplace=True)

In [34]:
df

,ID,Name,Age,Salary,Joining_Date,Department,Email,Phone_Number,Gender,Performance_Score,Manager,Remarks
0,1,John,28,50000,2018-01-15,Sales,john@mail.com,+91-9876543210,M,A,Alice,Good
1,2,Alice,68,62000,2019/03/22,HR,alice(at)mail,123456,Female,Excellent,Bob,NaN
2,3,Bob,68,1000000,NaN,IT,NaN,NaN,Unknown,95,Eve,Needs Improvement
3,5,Michael,45,75000,2020-12-01,Finance,michael@company.com,+1-555-0123,M,A,Carol,Excellent
4,6,Sarah,-25,48000,2022/07/15,Marketing,sarah@mail,9876543210,F,C,David,Average
5,7,David,32,99826,2017-05-30,Sales,david@company.com,+44-20-7946-0958,M,NaN,Alice,Good performer
6,8,Emma,29,55000,NaN,HR,emma@mail.com,555-1234,Female,B,Frank,NaN
7,9,Robert,999,120000,2023-02-28,IT,robert@company.com,+61-2-9876-5432,M,A,Carol,Outstanding
8,10,Lisa,26,42000,2021-11-11,Sales,lisa@mail.com,123-456-7890,F,B,Alice,Needs training
9,12,Sophia,24,51000,2022-03-15,Marketing,sophia@mail.com,555-9876,F,C,David,New hire
10,13,William,0,59000,2018-09-10,Finance,william@company.com,+1-212-555-0199,M,B,Carol,NaN
11,14,Olivia,28,47000,2020-01-01,HR,olivia@mail.com,444-3333,Female,C,Frank,Average performance
12,15,Ethan,33,99826,2016-12-05,IT,ethan@company.com,+49-30-123456,M,A,Eve,Senior developer
13,16,Ava,27,53000,2021/06/30,Sales,ava@mail.com,777-8888,F,B,Alice,Promising
14,17,Noah,29,71000,2019-04-22,Marketing,noah@company.com,+86-10-59876543,M,A,David,Top performer
15,18,Isabella,26,49000,2022-08-14,Finance,isabella@mail.com,222-1111,F,C,Carol,NaN
16,19,Lucas,30,65000,2017-11-30,HR,lucas@company.com,+33-1-2345-6789,M,B,Frank,Reliable
17,20,Mia,25,56000,2020-05-15,IT,mia@mail.com,666-7777,F,A,Eve,Quick learner
18,21,Benjamin,28,58000,NaN,Sales,benjamin@company.com,+91-9876543210,M,B,Alice,NaN
19,22,Charlotte,31,72000,2018-07-07,Marketing,charlotte@mail.com,888-9999,Female,A,David,Excellent communicator
20,23,Henry,35,85000,2015-03-12,Finance,henry@company.com,+1-415-555-0123,M,A,Carol,Manager material
21,24,Amelia,27,52000,2021-02-28,HR,amelia@mail.com,333-4444,F,B,Frank,NaN
22,25,Mason,29,63000,2019-10-31,IT,mason@company.com,+44-20-7946-0123,M,C,Eve,Needs improvement

In [40]:
df["Age"] = np.where(df['Age'] <0,df["Age"].mean(),df["Age"])

In [41]:
df["Age"] = np.where(df["Age"] ==0 ,df["Age"].mean(),df["Age"])

In [45]:
df['Age']=df["Age"].astype(int)

In [47]:
df['Age']= pd.to_numeric(df['Age'],errors='coerce')

In [48]:
df

,ID,Name,Age,Salary,Joining_Date,Department,Email,Phone_Number,Gender,Performance_Score,Manager,Remarks
0,1,John,28,50000,2018-01-15,Sales,john@mail.com,+91-9876543210,M,A,Alice,Good
1,2,Alice,68,62000,2019/03/22,HR,alice(at)mail,123456,Female,Excellent,Bob,NaN
2,3,Bob,68,1000000,NaN,IT,NaN,NaN,Unknown,95,Eve,Needs Improvement
3,5,Michael,45,75000,2020-12-01,Finance,michael@company.com,+1-555-0123,M,A,Carol,Excellent
4,6,Sarah,71,48000,2022/07/15,Marketing,sarah@mail,9876543210,F,C,David,Average
5,7,David,32,99826,2017-05-30,Sales,david@company.com,+44-20-7946-0958,M,NaN,Alice,Good performer
6,8,Emma,29,55000,NaN,HR,emma@mail.com,555-1234,Female,B,Frank,NaN
7,9,Robert,999,120000,2023-02-28,IT,robert@company.com,+61-2-9876-5432,M,A,Carol,Outstanding
8,10,Lisa,26,42000,2021-11-11,Sales,lisa@mail.com,123-456-7890,F,B,Alice,Needs training
9,12,Sophia,24,51000,2022-03-15,Marketing,sophia@mail.com,555-9876,F,C,David,New hire
10,13,William,75,59000,2018-09-10,Finance,william@company.com,+1-212-555-0199,M,B,Carol,NaN
11,14,Olivia,28,47000,2020-01-01,HR,olivia@mail.com,444-3333,Female,C,Frank,Average performance
12,15,Ethan,33,99826,2016-12-05,IT,ethan@company.com,+49-30-123456,M,A,Eve,Senior developer
13,16,Ava,27,53000,2021/06/30,Sales,ava@mail.com,777-8888,F,B,Alice,Promising
14,17,Noah,29,71000,2019-04-22,Marketing,noah@company.com,+86-10-59876543,M,A,David,Top performer
15,18,Isabella,26,49000,2022-08-14,Finance,isabella@mail.com,222-1111,F,C,Carol,NaN
16,19,Lucas,30,65000,2017-11-30,HR,lucas@company.com,+33-1-2345-6789,M,B,Frank,Reliable
17,20,Mia,25,56000,2020-05-15,IT,mia@mail.com,666-7777,F,A,Eve,Quick learner
18,21,Benjamin,28,58000,NaN,Sales,benjamin@company.com,+91-9876543210,M,B,Alice,NaN
19,22,Charlotte,31,72000,2018-07-07,Marketing,charlotte@mail.com,888-9999,Female,A,David,Excellent communicator
20,23,Henry,35,85000,2015-03-12,Finance,henry@company.com,+1-415-555-0123,M,A,Carol,Manager material
21,24,Amelia,27,52000,2021-02-28,HR,amelia@mail.com,333-4444,F,B,Frank,NaN
22,25,Mason,29,63000,2019-10-31,IT,mason@company.com,+44-20-7946-0123,M,C,Eve,Needs improvement

In [61]:
df['Joining_Date'].isna().sum()

np.int64(0)

In [70]:
joining_dates = [
    "2018-01-15", "2019/03/22", "NaN", "2020-12-01", "2022/07/15",
    "2017-05-30", "NaN", "2023-02-28", "2021-11-11", "2022-03-15",
    "2018-09-10", "2020-01-01", "2016-12-05", "2021/06/30", "2019-04-22",
    "2022-08-14", "2017-11-30", "2020-05-15", "NaN", "2018-07-07",
    "2015-03-12", "2021-02-28", "2019-10-31"
]

# Insert into new column 'Joining_Date'
df["Joining_Date"] = joining_dates

In [60]:
df

,ID,Name,Age,Salary,Joining_Date,Department,Email,Phone_Number,Gender,Performance_Score,Manager,Remarks
0,1,John,28,50000,2018-01-15,Sales,john@mail.com,+91-9876543210,M,A,Alice,Good
1,2,Alice,68,62000,2019/03/22,HR,alice(at)mail,123456,Female,Excellent,Bob,NaN
2,3,Bob,68,1000000,NaN,IT,NaN,NaN,Unknown,95,Eve,Needs Improvement
3,5,Michael,45,75000,2020-12-01,Finance,michael@company.com,+1-555-0123,M,A,Carol,Excellent
4,6,Sarah,71,48000,2022/07/15,Marketing,sarah@mail,9876543210,F,C,David,Average
5,7,David,32,99826,2017-05-30,Sales,david@company.com,+44-20-7946-0958,M,NaN,Alice,Good performer
6,8,Emma,29,55000,NaN,HR,emma@mail.com,555-1234,Female,B,Frank,NaN
7,9,Robert,999,120000,2023-02-28,IT,robert@company.com,+61-2-9876-5432,M,A,Carol,Outstanding
8,10,Lisa,26,42000,2021-11-11,Sales,lisa@mail.com,123-456-7890,F,B,Alice,Needs training
9,12,Sophia,24,51000,2022-03-15,Marketing,sophia@mail.com,555-9876,F,C,David,New hire
10,13,William,75,59000,2018-09-10,Finance,william@company.com,+1-212-555-0199,M,B,Carol,NaN
11,14,Olivia,28,47000,2020-01-01,HR,olivia@mail.com,444-3333,Female,C,Frank,Average performance
12,15,Ethan,33,99826,2016-12-05,IT,ethan@company.com,+49-30-123456,M,A,Eve,Senior developer
13,16,Ava,27,53000,2021/06/30,Sales,ava@mail.com,777-8888,F,B,Alice,Promising
14,17,Noah,29,71000,2019-04-22,Marketing,noah@company.com,+86-10-59876543,M,A,David,Top performer
15,18,Isabella,26,49000,2022-08-14,Finance,isabella@mail.com,222-1111,F,C,Carol,NaN
16,19,Lucas,30,65000,2017-11-30,HR,lucas@company.com,+33-1-2345-6789,M,B,Frank,Reliable
17,20,Mia,25,56000,2020-05-15,IT,mia@mail.com,666-7777,F,A,Eve,Quick learner
18,21,Benjamin,28,58000,NaN,Sales,benjamin@company.com,+91-9876543210,M,B,Alice,NaN
19,22,Charlotte,31,72000,2018-07-07,Marketing,charlotte@mail.com,888-9999,Female,A,David,Excellent communicator
20,23,Henry,35,85000,2015-03-12,Finance,henry@company.com,+1-415-555-0123,M,A,Carol,Manager material
21,24,Amelia,27,52000,2021-02-28,HR,amelia@mail.com,333-4444,F,B,Frank,NaN
22,25,Mason,29,63000,2019-10-31,IT,mason@company.com,+44-20-7946-0123,M,C,Eve,Needs improvement

In [62]:
df['Joining_Date'] = df['Joining_Date'].astype(str).str.strip()

In [71]:
df['Joining_Date'] = df['Joining_Date'].str.replace('/', '-', regex=False)
df['Joining_Date'] = pd.to_datetime(df['Joining_Date'], errors='coerce')

In [ ]:
# df['Joining_Date'] = pd.to_datetime(df['Joining_Date'], format='%Y/%m/%d', errors='coerce')

In [72]:
df

,ID,Name,Age,Salary,Joining_Date,Department,Email,Phone_Number,Gender,Performance_Score,Manager,Remarks
0,1,John,28,50000,2018-01-15,Sales,john@mail.com,+91-9876543210,M,A,Alice,Good
1,2,Alice,68,62000,2019-03-22,HR,alice(at)mail,123456,Female,Excellent,Bob,NaN
2,3,Bob,68,1000000,NaT,IT,NaN,NaN,Unknown,95,Eve,Needs Improvement
3,5,Michael,45,75000,2020-12-01,Finance,michael@company.com,+1-555-0123,M,A,Carol,Excellent
4,6,Sarah,71,48000,2022-07-15,Marketing,sarah@mail,9876543210,F,C,David,Average
5,7,David,32,99826,2017-05-30,Sales,david@company.com,+44-20-7946-0958,M,NaN,Alice,Good performer
6,8,Emma,29,55000,NaT,HR,emma@mail.com,555-1234,Female,B,Frank,NaN
7,9,Robert,999,120000,2023-02-28,IT,robert@company.com,+61-2-9876-5432,M,A,Carol,Outstanding
8,10,Lisa,26,42000,2021-11-11,Sales,lisa@mail.com,123-456-7890,F,B,Alice,Needs training
9,12,Sophia,24,51000,2022-03-15,Marketing,sophia@mail.com,555-9876,F,C,David,New hire
10,13,William,75,59000,2018-09-10,Finance,william@company.com,+1-212-555-0199,M,B,Carol,NaN
11,14,Olivia,28,47000,2020-01-01,HR,olivia@mail.com,444-3333,Female,C,Frank,Average performance
12,15,Ethan,33,99826,2016-12-05,IT,ethan@company.com,+49-30-123456,M,A,Eve,Senior developer
13,16,Ava,27,53000,2021-06-30,Sales,ava@mail.com,777-8888,F,B,Alice,Promising
14,17,Noah,29,71000,2019-04-22,Marketing,noah@company.com,+86-10-59876543,M,A,David,Top performer
15,18,Isabella,26,49000,2022-08-14,Finance,isabella@mail.com,222-1111,F,C,Carol,NaN
16,19,Lucas,30,65000,2017-11-30,HR,lucas@company.com,+33-1-2345-6789,M,B,Frank,Reliable
17,20,Mia,25,56000,2020-05-15,IT,mia@mail.com,666-7777,F,A,Eve,Quick learner
18,21,Benjamin,28,58000,NaT,Sales,benjamin@company.com,+91-9876543210,M,B,Alice,NaN
19,22,Charlotte,31,72000,2018-07-07,Marketing,charlotte@mail.com,888-9999,Female,A,David,Excellent communicator
20,23,Henry,35,85000,2015-03-12,Finance,henry@company.com,+1-415-555-0123,M,A,Carol,Manager material
21,24,Amelia,27,52000,2021-02-28,HR,amelia@mail.com,333-4444,F,B,Frank,NaN
22,25,Mason,29,63000,2019-10-31,IT,mason@company.com,+44-20-7946-0123,M,C,Eve,Needs improvement

In [73]:
df["Joining_Date"].isna().sum()

np.int64(3)

In [74]:
df['Joining_Date'] = df.groupby('Department')['Joining_Date'].transform(lambda x: x.fillna(x.median()))

In [76]:
df['Joining_Date'] = pd.to_datetime(df['Joining_Date'], errors='coerce').dt.date

In [77]:
df

,ID,Name,Age,Salary,Joining_Date,Department,Email,Phone_Number,Gender,Performance_Score,Manager,Remarks
0,1,John,28,50000,2018-01-15,Sales,john@mail.com,+91-9876543210,M,A,Alice,Good
1,2,Alice,68,62000,2019-03-22,HR,alice(at)mail,123456,Female,Excellent,Bob,NaN
2,3,Bob,68,1000000,2020-02-06,IT,NaN,NaN,Unknown,95,Eve,Needs Improvement
3,5,Michael,45,75000,2020-12-01,Finance,michael@company.com,+1-555-0123,M,A,Carol,Excellent
4,6,Sarah,71,48000,2022-07-15,Marketing,sarah@mail,9876543210,F,C,David,Average
5,7,David,32,99826,2017-05-30,Sales,david@company.com,+44-20-7946-0958,M,NaN,Alice,Good performer
6,8,Emma,29,55000,2019-08-11,HR,emma@mail.com,555-1234,Female,B,Frank,NaN
7,9,Robert,999,120000,2023-02-28,IT,robert@company.com,+61-2-9876-5432,M,A,Carol,Outstanding
8,10,Lisa,26,42000,2021-11-11,Sales,lisa@mail.com,123-456-7890,F,B,Alice,Needs training
9,12,Sophia,24,51000,2022-03-15,Marketing,sophia@mail.com,555-9876,F,C,David,New hire
10,13,William,75,59000,2018-09-10,Finance,william@company.com,+1-212-555-0199,M,B,Carol,NaN
11,14,Olivia,28,47000,2020-01-01,HR,olivia@mail.com,444-3333,Female,C,Frank,Average performance
12,15,Ethan,33,99826,2016-12-05,IT,ethan@company.com,+49-30-123456,M,A,Eve,Senior developer
13,16,Ava,27,53000,2021-06-30,Sales,ava@mail.com,777-8888,F,B,Alice,Promising
14,17,Noah,29,71000,2019-04-22,Marketing,noah@company.com,+86-10-59876543,M,A,David,Top performer
15,18,Isabella,26,49000,2022-08-14,Finance,isabella@mail.com,222-1111,F,C,Carol,NaN
16,19,Lucas,30,65000,2017-11-30,HR,lucas@company.com,+33-1-2345-6789,M,B,Frank,Reliable
17,20,Mia,25,56000,2020-05-15,IT,mia@mail.com,666-7777,F,A,Eve,Quick learner
18,21,Benjamin,28,58000,2019-10-08,Sales,benjamin@company.com,+91-9876543210,M,B,Alice,NaN
19,22,Charlotte,31,72000,2018-07-07,Marketing,charlotte@mail.com,888-9999,Female,A,David,Excellent communicator
20,23,Henry,35,85000,2015-03-12,Finance,henry@company.com,+1-415-555-0123,M,A,Carol,Manager material
21,24,Amelia,27,52000,2021-02-28,HR,amelia@mail.com,333-4444,F,B,Frank,NaN
22,25,Mason,29,63000,2019-10-31,IT,mason@company.com,+44-20-7946-0123,M,C,Eve,Needs improvement

In [79]:
df

,ID,Name,Age,Salary,Joining_Date,Department,Email,Phone_Number,Gender,Performance_Score,Manager,Remarks,Valid_Email
0,1,John,28,50000,2018-01-15,Sales,john@mail.com,+91-9876543210,M,A,Alice,Good,True
1,2,Alice,68,62000,2019-03-22,HR,alice(at)mail,123456,Female,Excellent,Bob,NaN,False
2,3,Bob,68,1000000,2020-02-06,IT,NaN,NaN,Unknown,95,Eve,Needs Improvement,False
3,5,Michael,45,75000,2020-12-01,Finance,michael@company.com,+1-555-0123,M,A,Carol,Excellent,True
4,6,Sarah,71,48000,2022-07-15,Marketing,sarah@mail,9876543210,F,C,David,Average,False
5,7,David,32,99826,2017-05-30,Sales,david@company.com,+44-20-7946-0958,M,NaN,Alice,Good performer,True
6,8,Emma,29,55000,2019-08-11,HR,emma@mail.com,555-1234,Female,B,Frank,NaN,True
7,9,Robert,999,120000,2023-02-28,IT,robert@company.com,+61-2-9876-5432,M,A,Carol,Outstanding,True
8,10,Lisa,26,42000,2021-11-11,Sales,lisa@mail.com,123-456-7890,F,B,Alice,Needs training,True
9,12,Sophia,24,51000,2022-03-15,Marketing,sophia@mail.com,555-9876,F,C,David,New hire,True
10,13,William,75,59000,2018-09-10,Finance,william@company.com,+1-212-555-0199,M,B,Carol,NaN,True
11,14,Olivia,28,47000,2020-01-01,HR,olivia@mail.com,444-3333,Female,C,Frank,Average performance,True
12,15,Ethan,33,99826,2016-12-05,IT,ethan@company.com,+49-30-123456,M,A,Eve,Senior developer,True
13,16,Ava,27,53000,2021-06-30,Sales,ava@mail.com,777-8888,F,B,Alice,Promising,True
14,17,Noah,29,71000,2019-04-22,Marketing,noah@company.com,+86-10-59876543,M,A,David,Top performer,True
15,18,Isabella,26,49000,2022-08-14,Finance,isabella@mail.com,222-1111,F,C,Carol,NaN,True
16,19,Lucas,30,65000,2017-11-30,HR,lucas@company.com,+33-1-2345-6789,M,B,Frank,Reliable,True
17,20,Mia,25,56000,2020-05-15,IT,mia@mail.com,666-7777,F,A,Eve,Quick learner,True
18,21,Benjamin,28,58000,2019-10-08,Sales,benjamin@company.com,+91-9876543210,M,B,Alice,NaN,True
19,22,Charlotte,31,72000,2018-07-07,Marketing,charlotte@mail.com,888-9999,Female,A,David,Excellent communicator,True
20,23,Henry,35,85000,2015-03-12,Finance,henry@company.com,+1-415-555-0123,M,A,Carol,Manager material,True
21,24,Amelia,27,52000,2021-02-28,HR,amelia@mail.com,333-4444,F,B,Frank,NaN,True
22,25,Mason,29,63000,2019-10-31,IT,mason@company.com,+44-20-7946-0123,M,C,Eve,Needs improvement,True

In [80]:
df.drop('Valid_Email',axis=1,inplace=True)

In [81]:
df

,ID,Name,Age,Salary,Joining_Date,Department,Email,Phone_Number,Gender,Performance_Score,Manager,Remarks
0,1,John,28,50000,2018-01-15,Sales,john@mail.com,+91-9876543210,M,A,Alice,Good
1,2,Alice,68,62000,2019-03-22,HR,alice(at)mail,123456,Female,Excellent,Bob,NaN
2,3,Bob,68,1000000,2020-02-06,IT,NaN,NaN,Unknown,95,Eve,Needs Improvement
3,5,Michael,45,75000,2020-12-01,Finance,michael@company.com,+1-555-0123,M,A,Carol,Excellent
4,6,Sarah,71,48000,2022-07-15,Marketing,sarah@mail,9876543210,F,C,David,Average
5,7,David,32,99826,2017-05-30,Sales,david@company.com,+44-20-7946-0958,M,NaN,Alice,Good performer
6,8,Emma,29,55000,2019-08-11,HR,emma@mail.com,555-1234,Female,B,Frank,NaN
7,9,Robert,999,120000,2023-02-28,IT,robert@company.com,+61-2-9876-5432,M,A,Carol,Outstanding
8,10,Lisa,26,42000,2021-11-11,Sales,lisa@mail.com,123-456-7890,F,B,Alice,Needs training
9,12,Sophia,24,51000,2022-03-15,Marketing,sophia@mail.com,555-9876,F,C,David,New hire
10,13,William,75,59000,2018-09-10,Finance,william@company.com,+1-212-555-0199,M,B,Carol,NaN
11,14,Olivia,28,47000,2020-01-01,HR,olivia@mail.com,444-3333,Female,C,Frank,Average performance
12,15,Ethan,33,99826,2016-12-05,IT,ethan@company.com,+49-30-123456,M,A,Eve,Senior developer
13,16,Ava,27,53000,2021-06-30,Sales,ava@mail.com,777-8888,F,B,Alice,Promising
14,17,Noah,29,71000,2019-04-22,Marketing,noah@company.com,+86-10-59876543,M,A,David,Top performer
15,18,Isabella,26,49000,2022-08-14,Finance,isabella@mail.com,222-1111,F,C,Carol,NaN
16,19,Lucas,30,65000,2017-11-30,HR,lucas@company.com,+33-1-2345-6789,M,B,Frank,Reliable
17,20,Mia,25,56000,2020-05-15,IT,mia@mail.com,666-7777,F,A,Eve,Quick learner
18,21,Benjamin,28,58000,2019-10-08,Sales,benjamin@company.com,+91-9876543210,M,B,Alice,NaN
19,22,Charlotte,31,72000,2018-07-07,Marketing,charlotte@mail.com,888-9999,Female,A,David,Excellent communicator
20,23,Henry,35,85000,2015-03-12,Finance,henry@company.com,+1-415-555-0123,M,A,Carol,Manager material
21,24,Amelia,27,52000,2021-02-28,HR,amelia@mail.com,333-4444,F,B,Frank,NaN
22,25,Mason,29,63000,2019-10-31,IT,mason@company.com,+44-20-7946-0123,M,C,Eve,Needs improvement

In [82]:
df['Email'] = df['Email'].str.replace(r'\(at\)', '@', regex=True)
df['Email'] = df['Email'].apply(lambda x: x + ".com" if pd.notna(x) and "@" in x and "." not in x else x)

In [83]:
df

,ID,Name,Age,Salary,Joining_Date,Department,Email,Phone_Number,Gender,Performance_Score,Manager,Remarks
0,1,John,28,50000,2018-01-15,Sales,john@mail.com,+91-9876543210,M,A,Alice,Good
1,2,Alice,68,62000,2019-03-22,HR,alice@mail.com,123456,Female,Excellent,Bob,NaN
2,3,Bob,68,1000000,2020-02-06,IT,NaN,NaN,Unknown,95,Eve,Needs Improvement
3,5,Michael,45,75000,2020-12-01,Finance,michael@company.com,+1-555-0123,M,A,Carol,Excellent
4,6,Sarah,71,48000,2022-07-15,Marketing,sarah@mail.com,9876543210,F,C,David,Average
5,7,David,32,99826,2017-05-30,Sales,david@company.com,+44-20-7946-0958,M,NaN,Alice,Good performer
6,8,Emma,29,55000,2019-08-11,HR,emma@mail.com,555-1234,Female,B,Frank,NaN
7,9,Robert,999,120000,2023-02-28,IT,robert@company.com,+61-2-9876-5432,M,A,Carol,Outstanding
8,10,Lisa,26,42000,2021-11-11,Sales,lisa@mail.com,123-456-7890,F,B,Alice,Needs training
9,12,Sophia,24,51000,2022-03-15,Marketing,sophia@mail.com,555-9876,F,C,David,New hire
10,13,William,75,59000,2018-09-10,Finance,william@company.com,+1-212-555-0199,M,B,Carol,NaN
11,14,Olivia,28,47000,2020-01-01,HR,olivia@mail.com,444-3333,Female,C,Frank,Average performance
12,15,Ethan,33,99826,2016-12-05,IT,ethan@company.com,+49-30-123456,M,A,Eve,Senior developer
13,16,Ava,27,53000,2021-06-30,Sales,ava@mail.com,777-8888,F,B,Alice,Promising
14,17,Noah,29,71000,2019-04-22,Marketing,noah@company.com,+86-10-59876543,M,A,David,Top performer
15,18,Isabella,26,49000,2022-08-14,Finance,isabella@mail.com,222-1111,F,C,Carol,NaN
16,19,Lucas,30,65000,2017-11-30,HR,lucas@company.com,+33-1-2345-6789,M,B,Frank,Reliable
17,20,Mia,25,56000,2020-05-15,IT,mia@mail.com,666-7777,F,A,Eve,Quick learner
18,21,Benjamin,28,58000,2019-10-08,Sales,benjamin@company.com,+91-9876543210,M,B,Alice,NaN
19,22,Charlotte,31,72000,2018-07-07,Marketing,charlotte@mail.com,888-9999,Female,A,David,Excellent communicator
20,23,Henry,35,85000,2015-03-12,Finance,henry@company.com,+1-415-555-0123,M,A,Carol,Manager material
21,24,Amelia,27,52000,2021-02-28,HR,amelia@mail.com,333-4444,F,B,Frank,NaN
22,25,Mason,29,63000,2019-10-31,IT,mason@company.com,+44-20-7946-0123,M,C,Eve,Needs improvement

In [84]:
df['Email'] = df['Email'].fillna('unknown@mail.com')

In [85]:
df

,ID,Name,Age,Salary,Joining_Date,Department,Email,Phone_Number,Gender,Performance_Score,Manager,Remarks
0,1,John,28,50000,2018-01-15,Sales,john@mail.com,+91-9876543210,M,A,Alice,Good
1,2,Alice,68,62000,2019-03-22,HR,alice@mail.com,123456,Female,Excellent,Bob,NaN
2,3,Bob,68,1000000,2020-02-06,IT,unknown@mail.com,NaN,Unknown,95,Eve,Needs Improvement
3,5,Michael,45,75000,2020-12-01,Finance,michael@company.com,+1-555-0123,M,A,Carol,Excellent
4,6,Sarah,71,48000,2022-07-15,Marketing,sarah@mail.com,9876543210,F,C,David,Average
5,7,David,32,99826,2017-05-30,Sales,david@company.com,+44-20-7946-0958,M,NaN,Alice,Good performer
6,8,Emma,29,55000,2019-08-11,HR,emma@mail.com,555-1234,Female,B,Frank,NaN
7,9,Robert,999,120000,2023-02-28,IT,robert@company.com,+61-2-9876-5432,M,A,Carol,Outstanding
8,10,Lisa,26,42000,2021-11-11,Sales,lisa@mail.com,123-456-7890,F,B,Alice,Needs training
9,12,Sophia,24,51000,2022-03-15,Marketing,sophia@mail.com,555-9876,F,C,David,New hire
10,13,William,75,59000,2018-09-10,Finance,william@company.com,+1-212-555-0199,M,B,Carol,NaN
11,14,Olivia,28,47000,2020-01-01,HR,olivia@mail.com,444-3333,Female,C,Frank,Average performance
12,15,Ethan,33,99826,2016-12-05,IT,ethan@company.com,+49-30-123456,M,A,Eve,Senior developer
13,16,Ava,27,53000,2021-06-30,Sales,ava@mail.com,777-8888,F,B,Alice,Promising
14,17,Noah,29,71000,2019-04-22,Marketing,noah@company.com,+86-10-59876543,M,A,David,Top performer
15,18,Isabella,26,49000,2022-08-14,Finance,isabella@mail.com,222-1111,F,C,Carol,NaN
16,19,Lucas,30,65000,2017-11-30,HR,lucas@company.com,+33-1-2345-6789,M,B,Frank,Reliable
17,20,Mia,25,56000,2020-05-15,IT,mia@mail.com,666-7777,F,A,Eve,Quick learner
18,21,Benjamin,28,58000,2019-10-08,Sales,benjamin@company.com,+91-9876543210,M,B,Alice,NaN
19,22,Charlotte,31,72000,2018-07-07,Marketing,charlotte@mail.com,888-9999,Female,A,David,Excellent communicator
20,23,Henry,35,85000,2015-03-12,Finance,henry@company.com,+1-415-555-0123,M,A,Carol,Manager material
21,24,Amelia,27,52000,2021-02-28,HR,amelia@mail.com,333-4444,F,B,Frank,NaN
22,25,Mason,29,63000,2019-10-31,IT,mason@company.com,+44-20-7946-0123,M,C,Eve,Needs improvement

In [86]:
df.drop(2,axis=0,inplace=True)

In [87]:
df

,ID,Name,Age,Salary,Joining_Date,Department,Email,Phone_Number,Gender,Performance_Score,Manager,Remarks
0,1,John,28,50000,2018-01-15,Sales,john@mail.com,+91-9876543210,M,A,Alice,Good
1,2,Alice,68,62000,2019-03-22,HR,alice@mail.com,123456,Female,Excellent,Bob,NaN
3,5,Michael,45,75000,2020-12-01,Finance,michael@company.com,+1-555-0123,M,A,Carol,Excellent
4,6,Sarah,71,48000,2022-07-15,Marketing,sarah@mail.com,9876543210,F,C,David,Average
5,7,David,32,99826,2017-05-30,Sales,david@company.com,+44-20-7946-0958,M,NaN,Alice,Good performer
6,8,Emma,29,55000,2019-08-11,HR,emma@mail.com,555-1234,Female,B,Frank,NaN
7,9,Robert,999,120000,2023-02-28,IT,robert@company.com,+61-2-9876-5432,M,A,Carol,Outstanding
8,10,Lisa,26,42000,2021-11-11,Sales,lisa@mail.com,123-456-7890,F,B,Alice,Needs training
9,12,Sophia,24,51000,2022-03-15,Marketing,sophia@mail.com,555-9876,F,C,David,New hire
10,13,William,75,59000,2018-09-10,Finance,william@company.com,+1-212-555-0199,M,B,Carol,NaN
11,14,Olivia,28,47000,2020-01-01,HR,olivia@mail.com,444-3333,Female,C,Frank,Average performance
12,15,Ethan,33,99826,2016-12-05,IT,ethan@company.com,+49-30-123456,M,A,Eve,Senior developer
13,16,Ava,27,53000,2021-06-30,Sales,ava@mail.com,777-8888,F,B,Alice,Promising
14,17,Noah,29,71000,2019-04-22,Marketing,noah@company.com,+86-10-59876543,M,A,David,Top performer
15,18,Isabella,26,49000,2022-08-14,Finance,isabella@mail.com,222-1111,F,C,Carol,NaN
16,19,Lucas,30,65000,2017-11-30,HR,lucas@company.com,+33-1-2345-6789,M,B,Frank,Reliable
17,20,Mia,25,56000,2020-05-15,IT,mia@mail.com,666-7777,F,A,Eve,Quick learner
18,21,Benjamin,28,58000,2019-10-08,Sales,benjamin@company.com,+91-9876543210,M,B,Alice,NaN
19,22,Charlotte,31,72000,2018-07-07,Marketing,charlotte@mail.com,888-9999,Female,A,David,Excellent communicator
20,23,Henry,35,85000,2015-03-12,Finance,henry@company.com,+1-415-555-0123,M,A,Carol,Manager material
21,24,Amelia,27,52000,2021-02-28,HR,amelia@mail.com,333-4444,F,B,Frank,NaN
22,25,Mason,29,63000,2019-10-31,IT,mason@company.com,+44-20-7946-0123,M,C,Eve,Needs improvement

In [90]:
df['Phone_Number'] = df['Phone_Number'].astype(str).str.replace(r'\D', '', regex=True)

In [95]:
df

,ID,Name,Age,Salary,Joining_Date,Department,Email,Phone_Number,Gender,Performance_Score,Manager,Remarks
0,1,John,28,50000,2018-01-15,Sales,john@mail.com,919876543210,M,A,Alice,Good
1,2,Alice,68,62000,2019-03-22,HR,alice@mail.com,123456,Female,Excellent,Bob,NaN
3,5,Michael,45,75000,2020-12-01,Finance,michael@company.com,15550123,M,A,Carol,Excellent
4,6,Sarah,71,48000,2022-07-15,Marketing,sarah@mail.com,9876543210,F,C,David,Average
5,7,David,32,99826,2017-05-30,Sales,david@company.com,442079460958,M,NaN,Alice,Good performer
6,8,Emma,29,55000,2019-08-11,HR,emma@mail.com,5551234,Female,B,Frank,NaN
7,9,Robert,999,120000,2023-02-28,IT,robert@company.com,61298765432,M,A,Carol,Outstanding
8,10,Lisa,26,42000,2021-11-11,Sales,lisa@mail.com,1234567890,F,B,Alice,Needs training
9,12,Sophia,24,51000,2022-03-15,Marketing,sophia@mail.com,5559876,F,C,David,New hire
10,13,William,75,59000,2018-09-10,Finance,william@company.com,12125550199,M,B,Carol,NaN
11,14,Olivia,28,47000,2020-01-01,HR,olivia@mail.com,4443333,Female,C,Frank,Average performance
12,15,Ethan,33,99826,2016-12-05,IT,ethan@company.com,4930123456,M,A,Eve,Senior developer
13,16,Ava,27,53000,2021-06-30,Sales,ava@mail.com,7778888,F,B,Alice,Promising
14,17,Noah,29,71000,2019-04-22,Marketing,noah@company.com,861059876543,M,A,David,Top performer
15,18,Isabella,26,49000,2022-08-14,Finance,isabella@mail.com,2221111,F,C,Carol,NaN
16,19,Lucas,30,65000,2017-11-30,HR,lucas@company.com,33123456789,M,B,Frank,Reliable
17,20,Mia,25,56000,2020-05-15,IT,mia@mail.com,6667777,F,A,Eve,Quick learner
18,21,Benjamin,28,58000,2019-10-08,Sales,benjamin@company.com,919876543210,M,B,Alice,NaN
19,22,Charlotte,31,72000,2018-07-07,Marketing,charlotte@mail.com,8889999,Female,A,David,Excellent communicator
20,23,Henry,35,85000,2015-03-12,Finance,henry@company.com,14155550123,M,A,Carol,Manager material
21,24,Amelia,27,52000,2021-02-28,HR,amelia@mail.com,3334444,F,B,Frank,NaN
22,25,Mason,29,63000,2019-10-31,IT,mason@company.com,442079460123,M,C,Eve,Needs improvement

In [96]:
df['Phone_Number'] = df['Phone_Number'].apply(
    lambda x: '+91' + x if len(x) == 10 else '+' + x
)

In [97]:
df

,ID,Name,Age,Salary,Joining_Date,Department,Email,Phone_Number,Gender,Performance_Score,Manager,Remarks
0,1,John,28,50000,2018-01-15,Sales,john@mail.com,+919876543210,M,A,Alice,Good
1,2,Alice,68,62000,2019-03-22,HR,alice@mail.com,+123456,Female,Excellent,Bob,NaN
3,5,Michael,45,75000,2020-12-01,Finance,michael@company.com,+15550123,M,A,Carol,Excellent
4,6,Sarah,71,48000,2022-07-15,Marketing,sarah@mail.com,+919876543210,F,C,David,Average
5,7,David,32,99826,2017-05-30,Sales,david@company.com,+442079460958,M,NaN,Alice,Good performer
6,8,Emma,29,55000,2019-08-11,HR,emma@mail.com,+5551234,Female,B,Frank,NaN
7,9,Robert,999,120000,2023-02-28,IT,robert@company.com,+61298765432,M,A,Carol,Outstanding
8,10,Lisa,26,42000,2021-11-11,Sales,lisa@mail.com,+911234567890,F,B,Alice,Needs training
9,12,Sophia,24,51000,2022-03-15,Marketing,sophia@mail.com,+5559876,F,C,David,New hire
10,13,William,75,59000,2018-09-10,Finance,william@company.com,+12125550199,M,B,Carol,NaN
11,14,Olivia,28,47000,2020-01-01,HR,olivia@mail.com,+4443333,Female,C,Frank,Average performance
12,15,Ethan,33,99826,2016-12-05,IT,ethan@company.com,+914930123456,M,A,Eve,Senior developer
13,16,Ava,27,53000,2021-06-30,Sales,ava@mail.com,+7778888,F,B,Alice,Promising
14,17,Noah,29,71000,2019-04-22,Marketing,noah@company.com,+861059876543,M,A,David,Top performer
15,18,Isabella,26,49000,2022-08-14,Finance,isabella@mail.com,+2221111,F,C,Carol,NaN
16,19,Lucas,30,65000,2017-11-30,HR,lucas@company.com,+33123456789,M,B,Frank,Reliable
17,20,Mia,25,56000,2020-05-15,IT,mia@mail.com,+6667777,F,A,Eve,Quick learner
18,21,Benjamin,28,58000,2019-10-08,Sales,benjamin@company.com,+919876543210,M,B,Alice,NaN
19,22,Charlotte,31,72000,2018-07-07,Marketing,charlotte@mail.com,+8889999,Female,A,David,Excellent communicator
20,23,Henry,35,85000,2015-03-12,Finance,henry@company.com,+14155550123,M,A,Carol,Manager material
21,24,Amelia,27,52000,2021-02-28,HR,amelia@mail.com,+3334444,F,B,Frank,NaN
22,25,Mason,29,63000,2019-10-31,IT,mason@company.com,+442079460123,M,C,Eve,Needs improvement

In [100]:
df['Gender'] = df['Gender'].replace({'Female':'F'})

In [101]:
df

,ID,Name,Age,Salary,Joining_Date,Department,Email,Phone_Number,Gender,Performance_Score,Manager,Remarks
0,1,John,28,50000,2018-01-15,Sales,john@mail.com,+919876543210,M,A,Alice,Good
1,2,Alice,68,62000,2019-03-22,HR,alice@mail.com,+123456,F,Excellent,Bob,NaN
3,5,Michael,45,75000,2020-12-01,Finance,michael@company.com,+15550123,M,A,Carol,Excellent
4,6,Sarah,71,48000,2022-07-15,Marketing,sarah@mail.com,+919876543210,F,C,David,Average
5,7,David,32,99826,2017-05-30,Sales,david@company.com,+442079460958,M,NaN,Alice,Good performer
6,8,Emma,29,55000,2019-08-11,HR,emma@mail.com,+5551234,F,B,Frank,NaN
7,9,Robert,999,120000,2023-02-28,IT,robert@company.com,+61298765432,M,A,Carol,Outstanding
8,10,Lisa,26,42000,2021-11-11,Sales,lisa@mail.com,+911234567890,F,B,Alice,Needs training
9,12,Sophia,24,51000,2022-03-15,Marketing,sophia@mail.com,+5559876,F,C,David,New hire
10,13,William,75,59000,2018-09-10,Finance,william@company.com,+12125550199,M,B,Carol,NaN
11,14,Olivia,28,47000,2020-01-01,HR,olivia@mail.com,+4443333,F,C,Frank,Average performance
12,15,Ethan,33,99826,2016-12-05,IT,ethan@company.com,+914930123456,M,A,Eve,Senior developer
13,16,Ava,27,53000,2021-06-30,Sales,ava@mail.com,+7778888,F,B,Alice,Promising
14,17,Noah,29,71000,2019-04-22,Marketing,noah@company.com,+861059876543,M,A,David,Top performer
15,18,Isabella,26,49000,2022-08-14,Finance,isabella@mail.com,+2221111,F,C,Carol,NaN
16,19,Lucas,30,65000,2017-11-30,HR,lucas@company.com,+33123456789,M,B,Frank,Reliable
17,20,Mia,25,56000,2020-05-15,IT,mia@mail.com,+6667777,F,A,Eve,Quick learner
18,21,Benjamin,28,58000,2019-10-08,Sales,benjamin@company.com,+919876543210,M,B,Alice,NaN
19,22,Charlotte,31,72000,2018-07-07,Marketing,charlotte@mail.com,+8889999,F,A,David,Excellent communicator
20,23,Henry,35,85000,2015-03-12,Finance,henry@company.com,+14155550123,M,A,Carol,Manager material
21,24,Amelia,27,52000,2021-02-28,HR,amelia@mail.com,+3334444,F,B,Frank,NaN
22,25,Mason,29,63000,2019-10-31,IT,mason@company.com,+442079460123,M,C,Eve,Needs improvement

In [105]:
df['Performance_Score'] = df['Performance_Score'].replace({'Excellent':'E'})

In [106]:
df['Performance_Score'] = df['Performance_Score'].fillna(df["Performance_Score"].mode()[0])

In [107]:
df

,ID,Name,Age,Salary,Joining_Date,Department,Email,Phone_Number,Gender,Performance_Score,Manager,Remarks
0,1,John,28,50000,2018-01-15,Sales,john@mail.com,+919876543210,M,A,Alice,Good
1,2,Alice,68,62000,2019-03-22,HR,alice@mail.com,+123456,F,E,Bob,NaN
3,5,Michael,45,75000,2020-12-01,Finance,michael@company.com,+15550123,M,A,Carol,Excellent
4,6,Sarah,71,48000,2022-07-15,Marketing,sarah@mail.com,+919876543210,F,C,David,Average
5,7,David,32,99826,2017-05-30,Sales,david@company.com,+442079460958,M,A,Alice,Good performer
6,8,Emma,29,55000,2019-08-11,HR,emma@mail.com,+5551234,F,B,Frank,NaN
7,9,Robert,999,120000,2023-02-28,IT,robert@company.com,+61298765432,M,A,Carol,Outstanding
8,10,Lisa,26,42000,2021-11-11,Sales,lisa@mail.com,+911234567890,F,B,Alice,Needs training
9,12,Sophia,24,51000,2022-03-15,Marketing,sophia@mail.com,+5559876,F,C,David,New hire
10,13,William,75,59000,2018-09-10,Finance,william@company.com,+12125550199,M,B,Carol,NaN
11,14,Olivia,28,47000,2020-01-01,HR,olivia@mail.com,+4443333,F,C,Frank,Average performance
12,15,Ethan,33,99826,2016-12-05,IT,ethan@company.com,+914930123456,M,A,Eve,Senior developer
13,16,Ava,27,53000,2021-06-30,Sales,ava@mail.com,+7778888,F,B,Alice,Promising
14,17,Noah,29,71000,2019-04-22,Marketing,noah@company.com,+861059876543,M,A,David,Top performer
15,18,Isabella,26,49000,2022-08-14,Finance,isabella@mail.com,+2221111,F,C,Carol,NaN
16,19,Lucas,30,65000,2017-11-30,HR,lucas@company.com,+33123456789,M,B,Frank,Reliable
17,20,Mia,25,56000,2020-05-15,IT,mia@mail.com,+6667777,F,A,Eve,Quick learner
18,21,Benjamin,28,58000,2019-10-08,Sales,benjamin@company.com,+919876543210,M,B,Alice,NaN
19,22,Charlotte,31,72000,2018-07-07,Marketing,charlotte@mail.com,+8889999,F,A,David,Excellent communicator
20,23,Henry,35,85000,2015-03-12,Finance,henry@company.com,+14155550123,M,A,Carol,Manager material
21,24,Amelia,27,52000,2021-02-28,HR,amelia@mail.com,+3334444,F,B,Frank,NaN
22,25,Mason,29,63000,2019-10-31,IT,mason@company.com,+442079460123,M,C,Eve,Needs improvement

In [108]:

df['Remarks'] = df['Remarks'].fillna("No remarks")

In [119]:
df=df.reset_index(drop=True)

In [111]:
df

,ID,Name,Age,Salary,Joining_Date,Department,Email,Phone_Number,Gender,Performance_Score,Manager,Remarks
0,1,John,28,50000,2018-01-15,Sales,john@mail.com,+919876543210,M,A,Alice,Good
1,2,Alice,68,62000,2019-03-22,HR,alice@mail.com,+123456,F,E,Bob,No remarks
2,5,Michael,45,75000,2020-12-01,Finance,michael@company.com,+15550123,M,A,Carol,Excellent
3,6,Sarah,71,48000,2022-07-15,Marketing,sarah@mail.com,+919876543210,F,C,David,Average
4,7,David,32,99826,2017-05-30,Sales,david@company.com,+442079460958,M,A,Alice,Good performer
5,8,Emma,29,55000,2019-08-11,HR,emma@mail.com,+5551234,F,B,Frank,No remarks
6,9,Robert,999,120000,2023-02-28,IT,robert@company.com,+61298765432,M,A,Carol,Outstanding
7,10,Lisa,26,42000,2021-11-11,Sales,lisa@mail.com,+911234567890,F,B,Alice,Needs training
8,12,Sophia,24,51000,2022-03-15,Marketing,sophia@mail.com,+5559876,F,C,David,New hire
9,13,William,75,59000,2018-09-10,Finance,william@company.com,+12125550199,M,B,Carol,No remarks
10,14,Olivia,28,47000,2020-01-01,HR,olivia@mail.com,+4443333,F,C,Frank,Average performance
11,15,Ethan,33,99826,2016-12-05,IT,ethan@company.com,+914930123456,M,A,Eve,Senior developer
12,16,Ava,27,53000,2021-06-30,Sales,ava@mail.com,+7778888,F,B,Alice,Promising
13,17,Noah,29,71000,2019-04-22,Marketing,noah@company.com,+861059876543,M,A,David,Top performer
14,18,Isabella,26,49000,2022-08-14,Finance,isabella@mail.com,+2221111,F,C,Carol,No remarks
15,19,Lucas,30,65000,2017-11-30,HR,lucas@company.com,+33123456789,M,B,Frank,Reliable
16,20,Mia,25,56000,2020-05-15,IT,mia@mail.com,+6667777,F,A,Eve,Quick learner
17,21,Benjamin,28,58000,2019-10-08,Sales,benjamin@company.com,+919876543210,M,B,Alice,No remarks
18,22,Charlotte,31,72000,2018-07-07,Marketing,charlotte@mail.com,+8889999,F,A,David,Excellent communicator
19,23,Henry,35,85000,2015-03-12,Finance,henry@company.com,+14155550123,M,A,Carol,Manager material
20,24,Amelia,27,52000,2021-02-28,HR,amelia@mail.com,+3334444,F,B,Frank,No remarks
21,25,Mason,29,63000,2019-10-31,IT,mason@company.com,+442079460123,M,C,Eve,Needs improvement

In [113]:
age_mean = df['Age'].mean()
age_std = df['Age'].std()
lower_bound = age_mean - (3 * age_std)
upper_bound = age_mean + (3 * age_std)

In [114]:
df = df[(df["Age"] >= lower_bound) & (df["Age"] <= upper_bound )]

In [115]:
df

,ID,Name,Age,Salary,Joining_Date,Department,Email,Phone_Number,Gender,Performance_Score,Manager,Remarks
0,1,John,28,50000,2018-01-15,Sales,john@mail.com,+919876543210,M,A,Alice,Good
1,2,Alice,68,62000,2019-03-22,HR,alice@mail.com,+123456,F,E,Bob,No remarks
2,5,Michael,45,75000,2020-12-01,Finance,michael@company.com,+15550123,M,A,Carol,Excellent
3,6,Sarah,71,48000,2022-07-15,Marketing,sarah@mail.com,+919876543210,F,C,David,Average
4,7,David,32,99826,2017-05-30,Sales,david@company.com,+442079460958,M,A,Alice,Good performer
5,8,Emma,29,55000,2019-08-11,HR,emma@mail.com,+5551234,F,B,Frank,No remarks
7,10,Lisa,26,42000,2021-11-11,Sales,lisa@mail.com,+911234567890,F,B,Alice,Needs training
8,12,Sophia,24,51000,2022-03-15,Marketing,sophia@mail.com,+5559876,F,C,David,New hire
9,13,William,75,59000,2018-09-10,Finance,william@company.com,+12125550199,M,B,Carol,No remarks
10,14,Olivia,28,47000,2020-01-01,HR,olivia@mail.com,+4443333,F,C,Frank,Average performance
11,15,Ethan,33,99826,2016-12-05,IT,ethan@company.com,+914930123456,M,A,Eve,Senior developer
12,16,Ava,27,53000,2021-06-30,Sales,ava@mail.com,+7778888,F,B,Alice,Promising
13,17,Noah,29,71000,2019-04-22,Marketing,noah@company.com,+861059876543,M,A,David,Top performer
14,18,Isabella,26,49000,2022-08-14,Finance,isabella@mail.com,+2221111,F,C,Carol,No remarks
15,19,Lucas,30,65000,2017-11-30,HR,lucas@company.com,+33123456789,M,B,Frank,Reliable
16,20,Mia,25,56000,2020-05-15,IT,mia@mail.com,+6667777,F,A,Eve,Quick learner
17,21,Benjamin,28,58000,2019-10-08,Sales,benjamin@company.com,+919876543210,M,B,Alice,No remarks
18,22,Charlotte,31,72000,2018-07-07,Marketing,charlotte@mail.com,+8889999,F,A,David,Excellent communicator
19,23,Henry,35,85000,2015-03-12,Finance,henry@company.com,+14155550123,M,A,Carol,Manager material
20,24,Amelia,27,52000,2021-02-28,HR,amelia@mail.com,+3334444,F,B,Frank,No remarks
21,25,Mason,29,63000,2019-10-31,IT,mason@company.com,+442079460123,M,C,Eve,Needs improvement

In [116]:
salary_mean = df['Salary'].mean()
salary_std = df['Salary'].std()
lower_bound = salary_mean - (3 * salary_std)
upper_bound = salary_mean + (3 * salary_std)

In [117]:
df = df[(df["Salary"] >= lower_bound) & (df["Salary"] <= upper_bound )]

In [120]:
df

,ID,Name,Age,Salary,Joining_Date,Department,Email,Phone_Number,Gender,Performance_Score,Manager,Remarks
0,1,John,28,50000,2018-01-15,Sales,john@mail.com,+919876543210,M,A,Alice,Good
1,2,Alice,68,62000,2019-03-22,HR,alice@mail.com,+123456,F,E,Bob,No remarks
2,5,Michael,45,75000,2020-12-01,Finance,michael@company.com,+15550123,M,A,Carol,Excellent
3,6,Sarah,71,48000,2022-07-15,Marketing,sarah@mail.com,+919876543210,F,C,David,Average
4,7,David,32,99826,2017-05-30,Sales,david@company.com,+442079460958,M,A,Alice,Good performer
5,8,Emma,29,55000,2019-08-11,HR,emma@mail.com,+5551234,F,B,Frank,No remarks
6,10,Lisa,26,42000,2021-11-11,Sales,lisa@mail.com,+911234567890,F,B,Alice,Needs training
7,12,Sophia,24,51000,2022-03-15,Marketing,sophia@mail.com,+5559876,F,C,David,New hire
8,13,William,75,59000,2018-09-10,Finance,william@company.com,+12125550199,M,B,Carol,No remarks
9,14,Olivia,28,47000,2020-01-01,HR,olivia@mail.com,+4443333,F,C,Frank,Average performance
10,15,Ethan,33,99826,2016-12-05,IT,ethan@company.com,+914930123456,M,A,Eve,Senior developer
11,16,Ava,27,53000,2021-06-30,Sales,ava@mail.com,+7778888,F,B,Alice,Promising
12,17,Noah,29,71000,2019-04-22,Marketing,noah@company.com,+861059876543,M,A,David,Top performer
13,18,Isabella,26,49000,2022-08-14,Finance,isabella@mail.com,+2221111,F,C,Carol,No remarks
14,19,Lucas,30,65000,2017-11-30,HR,lucas@company.com,+33123456789,M,B,Frank,Reliable
15,20,Mia,25,56000,2020-05-15,IT,mia@mail.com,+6667777,F,A,Eve,Quick learner
16,21,Benjamin,28,58000,2019-10-08,Sales,benjamin@company.com,+919876543210,M,B,Alice,No remarks
17,22,Charlotte,31,72000,2018-07-07,Marketing,charlotte@mail.com,+8889999,F,A,David,Excellent communicator
18,23,Henry,35,85000,2015-03-12,Finance,henry@company.com,+14155550123,M,A,Carol,Manager material
19,24,Amelia,27,52000,2021-02-28,HR,amelia@mail.com,+3334444,F,B,Frank,No remarks
20,25,Mason,29,63000,2019-10-31,IT,mason@company.com,+442079460123,M,C,Eve,Needs improvement